/* ==========================================================================
Color variables
========================================================================== */

$white: #f1f4ec;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #515c8c;
$secondary: #50d1e9;
$accent: #fe8bb0;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;


.navbar {
    background-color: $primary !important;
}

.hero-body {
    background-color: $secondary !important;

    .subtitle {
        &.is-muted {
            color: $grey-white !important;
        }
    }

    .title {
        color: $white;
    }
}

.button.rounded {
    &.button.accent-btn,
    &.button.secondary-btn,
    &.button.primary-btn {
        &.raised:hover {
            box-shadow: none !important;
        }
    }
}

.footer, .footer-dark {
    background-color: $primary !important;
}