{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
{{- $playStore  := index $hero "playStoreUrl" }}
{{- $appleStore := index $hero "appleStoreUrl" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          <img src="{{ .Site.Params.accentLogo }}" alt="{{ .Site.Title }}" />
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          {{ with $playStore }}
          <a href="{{ . }}">
            <img width="150px" alt='Get it on Google Play'
              src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' />
          </a>
          {{ end }}
          {{ with $appleStore }}
          <a href="{{ . }}">TODO</a>
          {{ end }}
          <!-- TODO: Embed Apple Store Install Link -->
          <!-- <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a> -->
        </p>
      </div>
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Qibo character!">
        </figure>
      </div>
    </div>
  </div>
</div>